In [5]:
import pandas
iden=pandas.read_csv("ident_virgule.csv")

In [6]:
iden

      nom       prenom date_naissance
0  Durand  Jean-Pierre     23/05/1985
1  Dupont   Christophe     15/12/1967
2   Terta        Henry     12/06/1978